@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import "tailwindcss";


@theme {
  --breakpoint-xs: 319px;
  --breakpoint-sm: 439px;
  --color-start: #A09F87;
  --color-end: #4C3163;
  /* --breakpoint-sm: 490px; */
}



.charm {
  font-family: 'Charm', cursive;
}

.border-image-1 {
  border-image: linear-gradient(to right, #f43f5e, #fbbf24) 1;
  /* border: 3px solid; */
}

.border-image-gradient {
  border-image: linear-gradient(to bottom, #A09F87, #4C3163) 1;
  border-radius: 20px !important;

}



@layer base {

  .section {
    @apply py-8 lg:py-24 flex items-center ;
  }


  .btn-border-gradient {
    @apply rounded-lg bg-gradient-to-br from-[#A09F87] to-[#4C3163] hover:from-[#4C3163] hover:to-[#A09F87];
  }

  .text-gradient {
    @apply bg-gradient-to-br text-transparent bg-clip-text from-[#A09F87] to-[#4C3163] font-bold hover:from-[#4C3163] hover:to-[#A09F87];
  }

  .background-gradient {
    @apply hover:bg-gradient-to-br hover:from-[#4C3163] hover:to-[#A09F87];
  }

  .field {
    @apply flex items-center justify-center gap-2 rounded-lg py-2 px-4 bg-[#1f2029];
  }

  .input-field {
    @apply bg-none border-0 outline-0 text-[#d3d3d3] w-full;
  }

  .border-gradient {
    @apply border-4 rounded-2xl border-t-[var(--color-start)] border-l-[var(--color-start)] border-r-[var(--color-end)] border-b-[var(--color-end)];
  }

  .border-gradient-hover {
    @apply border-4 rounded-2xl hover:border-t-[var(--color-end)] hover:border-l-[var(--color-end)] hover:border-r-[var(--color-start)] hover:border-b-[var(--color-start)];
  }

}





/* Animation for shine effect */
@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}
.animate-shine {
  animation: shine 5s linear infinite;
}


