@import url("https://fonts.googleapis.com/css2?family=Charm&display=swap");
@import "tailwindcss"; 


.charm {
  font-family: 'Charm', cursive;
}
/* 
.border-color-gradient {
  border-radius: 100% ;
  border-color: linear-gradient(
    to top,
    #A09F87,
    #4C3163
  );
} */

@theme {
  --color-start: #A09F87;
  --color-end: #4C3163;
}



@layer base {

  .section {
    @apply py-8 lg:py-24 lg:h-screen flex items-center;
  }


  .btn-border-gradient {
    @apply   rounded-lg bg-gradient-to-br from-[#A09F87] to-[#4C3163] hover:from-[#4C3163] hover:to-[#A09F87];
  }
  
  .text-gradient {
    @apply bg-gradient-to-br text-transparent bg-clip-text from-[#A09F87] to-[#4C3163] font-bold  hover:from-[#4C3163] hover:to-[#A09F87];
  }

  .background-gradient {
    @apply hover:bg-gradient-to-br hover:from-[#4C3163] hover:to-[#A09F87] ;
  }

  .border-gradient {
    @apply border-4 rounded-2xl border-t-[var(--color-start)] border-l-[var(--color-start)] border-r-[var(--color-end)]  border-b-[var(--color-end)] ;
  }

}